<div id="title-search-outer">
  <div id="title-search-inner">
    <h1>Search your items</h1>
    <div id="search-holder">
      <span>
        <input id="search-bar" type="text" (change)="search()" [(ngModel)]="searchTerm" />
        <i (click)="clearResults()" class="lni-cross-circle"></i>
      </span>
    </div>
  </div>
</div>

<div id="outer">
  <div id="no-results" *ngIf="results.length < 1">
    <p>No results!</p>
  </div>
  <div class="item-container" *ngFor="let item of results">
    <div class="title-image-holder">
      <h3>{{ item.title }}</h3>
      <img [src]="item.img" />
    </div>
    <div class="details-holder">
      <h4>Details:</h4>
      <div class="category" *ngFor="let cat of item.categories">
        <p>Category: {{ cat.name }}</p>
        <div *ngIf="cat.subcategory">
          <p>Subcategory: {{ cat.subcategory.name }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
